.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}
.container h4{
  font-family: Manrope-Bold;
  /* font-size: 16px; */
}
.option{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
    border: 1px solid #C9C8C8;
    border-radius: 22px;
    width: 295px;
    height: 45px;
}
.option1{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
    border: 1px  #C9C8C8;
    border-radius: 22px;
    width: 295px;
    height: 45px;
}
.Status{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Employment {
    justify-content: space-between;
}

.Continue2{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #6149CD;
    margin: 10px;
    color: white;
    font-family: Manrope-Medium;
    border: 0px  #707070;
    border-radius: 22px;
    width: 295px;
    height: 45px;
}
.option span {
    font-family: Manrope-Regular;
    font-size: 14px;
    color: #7A86A1;
}
.row{
    display: flex;
    justify-content: center;
}
.Continue{
    margin-top: 5px;
    background-color: #6149CD;
    width: 653px ;
    color: white;
    font-family: Manrope-Medium;
    border: 0px  #707070;
    border-radius: 20px;
    height: 45px;
}
.botton{
    margin-top: 10px !important;
}
.Back{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: white;
    margin: 10px;
    color: #7A6F6F;
    font-family: Manrope-Medium;
    border: 1px solid #707070;
    border-radius: 22px;
    width: 295px;
    height: 45px;
    
}
  
  .radio-button {
    cursor: pointer;
    padding-right: 25px;
  }
  input[type=radio] {
      box-sizing: border-box;
      padding: 0;
  }
  
  input {
      font-size: 1rem;
      line-height: 1.5;
      padding: 11px 23px;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 0;
      outline: 0;
      background-color: transparent;
  }
  
  .radio-button__input {
      opacity: 0;
      position: absolute;
  }
  
  .radio-button__control {
      position: relative;
      display: inline-block;
      width: 22px;
      height: 22px;
      margin-right: 12px;
      vertical-align: middle;
      background-color: inherit;
      color: #017b5f;
      border: 2px solid #C0BDCC;
      border-radius: 24px;
  }
  
  .radio-button__input:checked+.radio-button__control:after {
      content: "";
      display: block;
      position: absolute;
      top: -1.4px;
      left: -1.35px;
      width: 10px;
      height: 10px;
      background-color: white;
      border-radius: 12px;
  }
  
  .radio-button__input:checked+.radio-button__control {
      border: 7px solid;
      border-color: #6149CD;
  }
  
  .radio-button__control {
    transform: scale(0.75);
  }
  .buttons{
      display: flex;
      justify-content: space-between;
  }

  .selectWrapper{
    border-radius:36px;
    display:inline-block;
    overflow:hidden;
    border:1px solid #cccccc;
  }
  .selectBox{
    width:140px;
    height:40px;
    border:0px;
    outline:none;
  }
  .Declarations{
      color: #7A86A1;
      margin-bottom: 40px;
  }

.c2 { filter: hue-rotate(30deg)  }


input[type=checkbox] {
  transform: scale(2);
  margin: 10px;
  cursor: pointer;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px !important;
    height: 39px;
    background-color:#6149CD ;
    border-radius: 50%;
}
.Note{
    color: #7A86A1;
    margin-bottom: 20px;
}